/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

header {
  font-weight: 600;
  padding: 0 40px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.header__logo {
  height: 60px;
}
.header__logo img {
  width: 100px;
}

.main-navigation {
  display: flex;
  gap: 40px;
}

.main-navigation__link a {
  text-decoration: none;
  color: #403F3D;
}

.header-menu-button__link {
  display: flex;
  gap: 8px;
  text-decoration: none;
  color: #403F3D;
}
.header-menu-button__link span:last-child {
  height: 24px;
}

.cup-icon {
  height: 20px;
  width: 20px;
  margin-top: -2px;
}

.burger-button {
  display: none;
}

@media (max-width: 1439px) {
  .wrapper {
    width: auto;
  }
}
@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
  .header-menu-button {
    display: none;
  }
  .burger-button {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #665F55;
    cursor: pointer;
  }
  .burger-button span {
    position: relative;
  }
  .burger-button span:before, .burger-button span:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #403F3D;
    border-radius: 2px;
  }
  .burger-button span:before {
    top: -5px;
    left: -9px;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  .burger-button span:after {
    bottom: -5px;
    left: -9px;
    transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
  }
  .burger-button.burger-checked {
    position: absolute;
    top: 8px;
    right: 0;
  }
  .burger-button.burger-checked span:before {
    top: -1px;
    transform: rotate(225deg);
  }
  .burger-button.burger-checked span:after {
    bottom: -1px;
    transform: rotate(-225deg);
  }
  .header-menu-button.burger-checked {
    display: block;
  }
  .header__logo.burger-checked {
    position: absolute;
    top: 0;
    left: 0;
  }
  .header__navigation.burger-checked {
    display: block;
    width: 100%;
  }
  .header__wrapper.burger-checked {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-top: 140px;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }
  .header__wrapper.burger-checked .main-navigation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    margin: 0;
  }
  .header__wrapper.burger-checked .header-menu-button {
    padding-top: 100px;
  }
  .header__wrapper.burger-checked .header-menu-button__link {
    gap: 16px;
  }
  .header__wrapper.burger-checked .cup-icon {
    height: 40px;
    width: 40px;
    margin-top: 0;
  }
  body.burger-checked {
    overflow: hidden;
  }
  body.burger-checked .header {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #E1D4C9;
  }
}
@media (max-width: 400px) {
  .header {
    padding: 0 16px;
  }
}
footer {
  width: 1440px;
  padding: 0 40px 40px 40px;
  margin: 0 auto;
}

.footer {
  display: flex;
  gap: 100px;
  padding: 100px;
  background-color: #665F55;
  border-radius: 40px;
}

.contact-us {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  color: #E1D4C9;
  white-space: nowrap;
}
.contact-us__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.contact-us .item {
  font-weight: 600;
}
.contact-us .item a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #E1D4C9;
  margin-bottom: 4px;
}
.contact-us .item a p {
  margin: 0;
}
.contact-us .link-animation:before {
  background-color: #E1D4C9;
}
.contact-us .img {
  width: 20px;
  height: 20px;
  align-self: flex-start;
}
.contact-us .img-pin {
  background: url("../assets/icons/pin-alt.svg");
}
.contact-us .img-phone {
  background: url("../assets/icons/phone.svg");
}
.contact-us .img-clock {
  background: url("../assets/icons/clock.svg");
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 530px;
}
.social-media__header {
  color: #E1D4C9;
}
.social-media__header i {
  color: #B0907A;
}

.social-media__links {
  display: flex;
  gap: 12px;
}
.social-media__links .twitter,
.social-media__links .instagram,
.social-media__links .facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
}
.social-media__links .icon-twitter,
.social-media__links .icon-instagram,
.social-media__links .icon-facebook {
  height: 24px;
  width: 24px;
  transition: background 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.social-media__links .icon-twitter {
  background: url("../assets/icons/twitter.svg") no-repeat;
}
.social-media__links .icon-instagram {
  background: url("../assets/icons/instagram.svg") no-repeat;
}
.social-media__links .icon-facebook {
  background: url("../assets/icons/facebook.svg") no-repeat;
}
.social-media__links .social-media-link {
  transition: background-color 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

@media (hover: hover) and (pointer: fine) {
  .social-media-link:hover {
    background-color: #E1D4C9;
  }
  .social-media-link:hover .icon-twitter {
    background: url("../assets/icons/twitter-hover.svg") no-repeat;
  }
  .social-media-link:hover .icon-instagram {
    background: url("../assets/icons/instagram-hover.svg") no-repeat;
  }
  .social-media-link:hover .icon-facebook {
    background: url("../assets/icons/facebook-hover.svg") no-repeat;
  }
}
@media (max-width: 1439px) {
  footer {
    width: auto;
    container-type: inline-size;
  }
  .footer {
    gap: clamp(10px, 7.3cqi, 100px);
  }
  .social-media {
    container-type: inline-size;
  }
  .social-media .social-media__header {
    font-size: clamp(35px, 11cqi, 60px);
  }
}
@media (max-width: 830px) {
  footer {
    width: auto;
    container-type: normal;
  }
  .social-media {
    container-type: normal;
  }
  .footer {
    flex-direction: column;
    padding: 100px 60px;
    gap: 100px;
  }
  .footer h2 {
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }
}
@media (max-width: 650px) {
  footer {
    width: auto;
    padding: 0 16px 40px 16px;
  }
  .footer {
    padding: 60px 16px;
    gap: 40px;
  }
  .footer .social-media {
    container-type: inline-size;
    width: auto;
  }
  .footer .social-media__header {
    font-size: clamp(32px, 7.81cqi, 60px);
  }
}
@media (max-width: 400px) {
  footer {
    width: auto;
    padding: 0 16px 40px 16px;
  }
  footer .footer {
    padding: 60px 16px;
    gap: 40px;
  }
  footer .footer .social-media {
    container-type: normal;
    width: auto;
  }
  footer .footer .social-media__header {
    font-size: 32px;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #E1D4C9;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}

h2 {
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.button-primary {
  width: 200px;
  height: 64px;
  font-weight: 600;
  text-decoration: none;
  color: #403F3D;
  border-radius: 100px;
  border: 1px solid #665F55;
  background-color: #E1D4C9;
  cursor: pointer;
  user-select: none;
}

.button-icon-cup {
  display: flex;
  align-items: center;
  padding: 20px 78px;
  border: none;
}
.button-icon-cup span {
  height: 24px;
  transition: transform 1s ease;
}
.button-icon-cup .cup-icon {
  margin-left: 8px;
  margin-top: 1px;
  opacity: 0;
  transition: opacity 1s ease;
}
@media (hover: none) and (pointer: coarse) {
  .button-icon-cup span {
    transform: translate(-14px);
  }
  .button-icon-cup .cup-icon {
    opacity: 1;
  }
}
@media (hover: hover) and (pointer: fine) {
  .button-icon-cup:hover span {
    transform: translate(-14px);
  }
  .button-icon-cup:hover .cup-icon {
    opacity: 1;
  }
}

.app-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 12px 20px;
  box-sizing: border-box;
  transition: background-color 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28), color 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.app-button__text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.app-button .app-icon {
  height: 36px;
  width: 36px;
  margin-left: -1px;
}
.app-button .app-button__text {
  text-align: start;
  margin-bottom: 3px;
}
@media (hover: hover) and (pointer: fine) {
  .app-button:hover {
    background-color: #665F55;
    color: #E1D4C9;
  }
  .app-button:hover .app-icon_apple {
    background: url("../assets/icons/icon-iphone-hover.svg") no-repeat;
  }
  .app-button:hover .app-icon_android {
    background: url("../assets/icons/icon-android-hover.svg") no-repeat;
  }
}

.app-button div > p {
  margin: 0;
}

.app-button_apple .app-icon_apple {
  background: url("../assets/icons/icon-iphone.svg") no-repeat;
  transition: background 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.app-button_android .app-icon_android {
  background: url("../assets/icons/icon-android.svg") no-repeat;
  transition: background 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.link-animation:before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  background-color: #403F3D;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

@media (hover: hover) and (pointer: fine) {
  .link-animation:hover:before {
    color: blue;
    transform: scaleX(1);
  }
}
.link-animation {
  position: relative;
}

.link-hovered {
  cursor: auto;
  position: relative;
}

.link-hovered:before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  background-color: #403F3D;
  transform-origin: left;
  left: 0;
  width: 100%;
  transform: scaleX(1);
}

.enjoy {
  padding: 0 40px;
  margin: 0 auto 100px auto;
  height: 644px;
  max-width: 1440px;
  position: relative;
  container-type: size;
  overflow: hidden;
}

.brand {
  max-width: 1360px;
  padding: 100px;
  border-radius: 40px;
  height: 100cqb;
}

.video {
  height: 100cqb;
  width: 100cqi;
  object-fit: cover;
  border-radius: 40px;
  position: absolute;
  z-index: -1;
}

.brand__text-box {
  display: flex;
  flex-direction: column;
  width: 530px;
  gap: 40px;
}
.brand__text-box p {
  margin: 0;
  color: #E1D4C9;
}
.brand__text-box h1 {
  height: 228px;
  color: #E1D4C9;
}
.brand__text-box h1 i {
  color: #B0907A;
}

@media (max-width: 1439px) {
  .brand {
    padding: 100px 60px;
  }
}
@media (max-width: 700px) {
  .enjoy {
    height: 552px;
    padding: 0 16px;
  }
  .brand {
    padding: 60px 16px;
  }
  .brand__text-box {
    justify-content: space-between;
    height: 100%;
    width: auto;
    container-type: inline-size;
  }
  .brand__text-box h1 {
    height: auto;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    font-size: clamp(42px, 9cqi, 60px);
  }
}
@media (max-width: 400px) {
  .brand__text-box {
    justify-content: flex-start;
    height: auto;
  }
  .brand__text-box h1 {
    height: 144px;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
  }
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  margin: 0 auto 100px auto;
  padding: 0 40px;
  color: #403F3D;
}
.slider h2 i {
  color: #B0907A;
}

.slide-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.slider-content {
  display: flex;
  justify-content: center;
  width: 1152px;
  margin: 0 40px;
}

.slide-container {
  width: 480px;
  overflow: hidden;
}

.slide-frame {
  display: flex;
  min-width: 1740px;
  transition: translate 0.5s ease;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  min-width: 480px;
  margin-right: 100px;
}
.slide__image {
  height: 480px;
  width: 100%;
  margin-bottom: 20px;
}
.slide__dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.slide__dish p {
  text-align: center;
}

.slide-frappuccino .slide__image {
  background: url("../assets/slider/coffee-slider-1.png") center/contain no-repeat;
}

.slide-macchiato .slide__image {
  background: url("../assets/slider/coffee-slider-2.png") center/contain no-repeat;
}

.slide-ice .slide__image {
  background: url("../assets/slider/coffee-slider-3.png") center/contain no-repeat;
}

.switcher {
  display: flex;
  flex: 0 0 60px;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  border-radius: 100px;
  border: 1px solid #665F55;
  transition: background-color 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .switcher:hover {
    background-color: #665F55;
  }
  .switcher:hover .left-switcher {
    background-image: url("../assets/icons/arrow-left-hover.svg");
  }
  .switcher:hover .right-switcher {
    background-image: url("../assets/icons/arrow-right-hover.svg");
  }
}

.left-switcher,
.right-switcher {
  width: 24px;
  height: 24px;
  transition: background 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.left-switcher {
  background: url("../assets/icons/arrow-left.svg") no-repeat;
}

.right-switcher {
  background: url("../assets/icons/arrow-right.svg") no-repeat;
}

.slider-control {
  display: flex;
  gap: 12px;
}
.slider-control__item {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: #C1B6AD;
}
.slider-control .control {
  width: 0;
  transition: width 5s linear;
}
.slider-control .active {
  width: 100%;
  background-color: #665F55;
}

@media (max-width: 1439px) {
  .slider {
    width: auto;
  }
  .slider h2 {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .slider {
    padding: 0 16px;
  }
  .slider .slider-content {
    margin: 0;
  }
  .slide-container {
    width: 348px;
  }
  .slide {
    width: 348px;
    min-width: 348px;
  }
  .slide__image {
    height: 348px;
  }
  .switcher {
    display: none;
  }
}
@media (max-width: 400px) {
  .slider__header {
    font-size: 32px;
  }
}
.gallery {
  display: flex;
  justify-content: center;
  width: 1440px;
  margin: 0 auto 100px auto;
  padding: 0 40px;
}
.gallery__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.gallery__title {
  letter-spacing: -0.002em;
  color: #403F3D;
}
.gallery__title i {
  color: #B0907A;
}

.gallery__images {
  height: 1060px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 120px 1fr;
  grid-auto-flow: column dense;
  grid-gap: 40px;
}

.photo {
  border-radius: 20px;
}

.photo:nth-child(1) {
  grid-row: span 2;
  background: url("../assets/photo/about-1.png") center/110% no-repeat;
  transition: background-size 0.5s ease;
}
@media (hover: hover) and (pointer: fine) {
  .photo:nth-child(1):hover {
    background-size: 100%;
    cursor: pointer;
  }
}

.photo:nth-child(2) {
  grid-row: span 1;
  background: url("../assets/photo/about-2.png") center/110% no-repeat;
  transition: background-size 0.5s ease;
}
@media (hover: hover) and (pointer: fine) {
  .photo:nth-child(2):hover {
    background-size: 100%;
    cursor: pointer;
  }
}

.photo:nth-child(3) {
  grid-row: span 1;
  background: url("../assets/photo/about-3.png") center/110% no-repeat;
  transition: background-size 0.5s ease;
}
@media (hover: hover) and (pointer: fine) {
  .photo:nth-child(3):hover {
    background-size: 100%;
    cursor: pointer;
  }
}

.photo:nth-child(4) {
  grid-row: span 2;
  background: url("../assets/photo/about-4.png") center/110% no-repeat;
  transition: background-size 0.5s ease;
}
@media (hover: hover) and (pointer: fine) {
  .photo:nth-child(4):hover {
    background-size: 100%;
    cursor: pointer;
  }
}

@media (max-width: 1439px) {
  .gallery {
    width: auto;
  }
  .gallery__images {
    height: clamp(500px, 73.6vw, 1060px);
  }
}
@media (max-width: 800px) {
  .gallery__images {
    height: 1220px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
  }
  .gallery__images .photo:nth-child(2),
  .gallery__images .photo:nth-child(3) {
    display: none;
  }
  .gallery__images .photo:nth-child(1),
  .gallery__images .photo:nth-child(4) {
    grid-row: span 1;
    background-size: auto;
  }
}
@media (max-width: 760px) {
  .gallery__title {
    font-size: clamp(32px, 7cqi, 60px);
  }
}
@media (max-width: 400px) {
  .gallery {
    padding: 0 16px;
  }
  .gallery__title {
    font-size: 32px;
  }
}
.app {
  display: flex;
  gap: 100px;
  width: 1440px;
  margin: 0 auto 100px auto;
  padding: 0 40px;
  color: #403F3D;
}
.app__photo {
  width: 630px;
  height: 630px;
  background: url("../assets/mobile-screens.png");
}
.app__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 630px;
}
.app__description {
  margin: 0;
}

.app__title i {
  color: #B0907A;
}

.app__buttons {
  display: flex;
  gap: 20px;
}

@media (max-width: 1439px) {
  main {
    container-type: inline-size;
  }
  .app {
    width: auto;
    container-type: inline-size;
    gap: clamp(10px, 2cqi, 100px);
  }
  .app__photo {
    background: url("../assets/mobile-screens.png") center/clamp(300px, 43.75cqi, 630px) no-repeat;
  }
}
@media (max-width: 930px) {
  .main {
    container-type: normal;
  }
  .app {
    container-type: normal;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .app__link {
    align-items: flex-start;
    width: 100%;
  }
  .app__photo {
    background: url("../assets/mobile-screens.png") no-repeat;
  }
}
@media (max-width: 630px) {
  .app {
    padding: 0 16px;
    gap: 40px;
  }
  .app__photo {
    width: clamp(348px, 93.75cqi, 630px);
    height: clamp(348px, 93.75cqi, 630px);
    background: url("../assets/mobile-screens.png") center/clamp(348px, 93.75cqi, 630px) no-repeat;
  }
  .app__buttons {
    flex-direction: column;
  }
  .app__title {
    font-size: 32px;
  }
}
@media (max-width: 400px) {
  .app__photo {
    width: 348px;
    height: 348px;
    background: url("../assets/mobile-screens.png") no-repeat;
    background-size: contain;
  }
}
main .hidden-header {
  display: none;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 1440px;
  margin: 0 auto 40px auto;
  padding: 0 40px;
}
.offer__title {
  width: 800px;
  text-align: center;
  color: #403F3D;
}
.offer__title i {
  color: #B0907A;
}
.offer__tabs {
  display: flex;
  width: 361px;
  gap: 16px;
  font-weight: 600;
}
.offer__tabs .tab {
  display: flex;
  padding: 7px 16px 7px 8px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: #403F3D;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
  transition: background-color 0.8s ease, border 0.8s ease, color 0.8s ease;
  user-select: none;
}
.offer__tabs .tab p {
  margin: 0;
}
.offer__tabs .tab .img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 7px;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background-color: #C1B6AD;
}
.offer__tabs .tab .img-coffee,
.offer__tabs .tab .img-tea,
.offer__tabs .tab .img-dessert {
  height: 16px;
  width: 16px;
}
.offer__tabs .tab .img-coffee {
  background: url("../assets/icons/coffee-menu-nav.svg") no-repeat;
}
.offer__tabs .tab .img-tea {
  background: url("../assets/icons/tea-menu-nav.svg") no-repeat;
}
.offer__tabs .tab .img-dessert {
  background: url("../assets/icons/dessert-menu-nav.svg") no-repeat;
}
@media (hover: hover) and (pointer: fine) {
  .offer__tabs .tab:hover {
    color: #E1D4C9;
    border: 1px solid #665F55;
    background-color: #665F55;
  }
}
.offer .tab-no-clickable {
  pointer-events: none;
}
.offer .active {
  cursor: auto;
  color: #E1D4C9;
  border: 1px solid #665F55;
  background-color: #665F55;
}

@media (max-width: 1439px) {
  .offer {
    width: auto;
  }
  .offer__title {
    width: auto;
  }
}
@media (max-width: 600px) {
  .offer__title {
    container-type: inline-size;
    width: 100%;
  }
  .offer__title h2 {
    font-size: clamp(32px, 9cqi, 60px);
  }
}
@media (max-width: 400px) {
  .offer {
    padding: 0 16px;
  }
  .offer__tabs {
    width: auto;
    gap: 8px;
  }
}
.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  padding: 0 40px;
  margin: 0 auto 100px auto;
}
.preview__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
}

.menu-circle-button {
  display: none;
}

.card {
  display: flex;
  height: 506px;
  width: 310px;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
}
.card__photo {
  height: 310px;
  width: 100%;
  overflow: hidden;
  border-radius: 40px;
  flex-shrink: 0;
}
.card__photo img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  color: #403F3D;
}
.card__description p {
  margin: 0 0 auto;
}
.card h3:first-child {
  margin-bottom: 12px;
}
.card h3:last-child {
  margin-bottom: -2px;
}
@media (hover: hover) and (pointer: fine) {
  .card:hover img {
    transform: scale(1);
  }
}

@media (max-width: 1439px) {
  .preview {
    width: auto;
  }
  .preview__grid {
    margin: 0 auto 40px auto;
    justify-content: center;
    grid-template-columns: repeat(3, 310px);
  }
  .preview .card:nth-child(n+7) {
    display: none;
  }
  .menu-circle-button {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid #665F55;
  }
  .menu-circle-button svg {
    fill: none;
    stroke: #403F3D;
    height: 24px;
    width: 24px;
  }
}
@media (max-width: 1060px) {
  .preview__grid {
    justify-content: center;
    grid-template-columns: repeat(2, 310px);
  }
  .card:nth-child(n+5) {
    display: none;
  }
}
@media (max-width: 740px) {
  .preview {
    padding: 0 16px;
  }
  .preview__grid {
    justify-content: center;
    grid-template-columns: 310px;
  }
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 40px;
  background-color: rgba(64, 63, 61, 0.8);
  transition: opacity 0.3s ease-out;
}

.modal-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-card {
  display: flex;
  gap: 20px;
  border-radius: 40px;
  background-color: #E1D4C9;
  padding: 16px;
  max-width: 800px;
}

.modal-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
  border-radius: 40px;
  width: 310px;
  height: 310px;
  overflow: hidden;
}
.modal-img img {
  transition: width 0.5s ease-out;
  width: 340px;
}
@media (hover: hover) and (pointer: fine) {
  .modal-img img:hover {
    width: 310px;
  }
}

.modal-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 330px);
  max-width: 438px;
}
.modal-description p {
  margin: 0;
}
.modal-description .modal-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal-description .modal-size {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-description .modal-additives {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-description .modal-total {
  display: flex;
  justify-content: space-between;
}
.modal-description .modal-info {
  display: flex;
  gap: 8px;
  border-top: 1px solid #C1B6AD;
  padding-top: 11px;
  padding-bottom: 12px;
}
.modal-description .modal-info img {
  width: 16px;
  height: 16px;
}
.modal-description .modal-info p {
  width: calc(100% - 24px);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.modal-description .modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  height: 44px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid #665F55;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out, color 0.5s ease-out;
}
@media (hover: hover) and (pointer: fine) {
  .modal-description .modal-close-button:hover {
    border-color: #665F55;
    background-color: #665F55;
    color: #E1D4C9;
  }
}

.modal-size-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  user-select: none;
}

.tab-no-clickable {
  cursor: default;
  pointer-events: none;
}

.active {
  border-color: #665F55;
  background-color: #665F55;
  color: #E1D4C9;
}

.modal-additives-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  user-select: none;
}

.tab {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 46px;
  padding: 8px 16px 8px 8px;
  color: #403F3D;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
  transition: background-color 0.5s ease-out, color 0.5s ease-out, border-color 0.5s ease-out;
}
@media (hover: hover) and (pointer: fine) {
  .tab:hover {
    border-color: #665F55;
    background-color: #665F55;
    color: #E1D4C9;
  }
  .tab:hover .tab-icon {
    background-color: #E1D4C9;
  }
}
.tab .tab-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #403F3D;
  background-color: #C1B6AD;
  border-radius: 100px;
  transition: background-color 0.5s ease-out;
}

.tab-icon {
  margin-left: -1px;
}

@media (max-width: 730px) {
  .modal-img {
    display: none;
  }
  .modal-description {
    width: auto;
  }
}
@media (max-width: 400px) {
  .modal-img {
    display: none;
  }
  .modal-card {
    min-width: 342px;
  }
}

/*# sourceMappingURL=style.css.map */
