body {
    display: flex;
    flex-direction: column;
    min-height: 94dvh;
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    padding: 10px 30px;
    text-align: center;
    user-select: none;
    background: linear-gradient(90deg, #00d4ff, #c128df, #00d4ff );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textflow 5s linear infinite;
}
@keyframes textflow {
  from {background-position: 0 center}
  to {background-position: 200% center}
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: auto;
}
footer .copyright {
    font-size: 14px;
    color: #949494;
    text-align: center;
}
footer .copyright a {
    color: #949494;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

footer .rs-logo {
    width: 80px;
    height: 33px;
}
footer .github {
    width: 32px;
    height: 32px;
}

footer .rs-logo object,
footer .github object {
    pointer-events: none;
}
