.user-list {
  flex: 2 2 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .4rem;
  padding: .3rem;
  border-radius: .8rem;
  border: 1px solid var(--border);
  //max-width: 30rem;
  //width: 100%;
  font-size: 1.6rem;

  .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .4rem;
    list-style: none;
    //padding: .4rem;
  }
}

.filter {
  width: 100%;
  font-size: 2rem;
  font-family: "Stylish", serif;
  padding: .4rem 0.8rem;
  border: 2px solid #ccc;
  border-radius: 0.7rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;

  &:focus {
    border-color: #007bff;
  }
}
