.list-item {
  display: flex;
  gap: .8rem;
  align-items: center;
  cursor: pointer;
  background-color: #878787;
  padding: .2rem .8rem;
  border-radius: .5rem;

  .dot {
    border-radius: 50%;
    background-color: red;
    height: .6rem;
    width: .6rem;
  }

  .green {
    background-color: green;
  }
}
