:root {
  --button-bg-color: #289bc4;
  --button-hover-bg-color: #302993;
  --transparent-bg: rgba(205, 214, 219, 0.5);
  --border: #969696;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: burlywood;
  font-family: "Stylish", serif;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
button{
  user-select: none;
}
