:root {
  --size: 15;
  --cell: 30px;
  --border-color-light: #0000004d;
  --border-color-dark: #000000c2;
  --background: #ffe2a3;
  --text-color: #000000;
  --hint-bg: #FFDAB9;
  --x-color: red;
  --accent-color: #d2691e;
  --modal-background-color: #f5deb3;
  --color-overlay: rgba(80, 80, 80, 0.4);
  --button-color: #DEB887;
  --button-hover-color: #C1A075;
}

.theme-dark {
  --border-color-light: #ffffff38;
  --border-color-dark: #ffffff9c;
  --background: #4b3564;
  --text-color: #e3bfbf;
  --hint-bg: #2c2a346e;

  --accent-color: #4B0082;
  --modal-background-color: #9370DB;
  --button-color: #4B0082;
  --button-hover-color: #483D8B;
}
