// Link underline animation
.link-animation:before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  background-color: $text-dark;
  //transform-origin: left;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transition: transform .5s ease;
}

@media (hover: hover) and (pointer: fine) {
  .link-animation:hover:before {
    color: blue;
    transform: scaleX(1);
  }
}

.link-animation {
  position: relative;
}

// link hovered in menu page means that the link doesn't animate
.link-hovered {
  cursor: auto;
  position: relative;
}

.link-hovered:before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  background-color: $text-dark;
  transform-origin: left;
  left: 0;
  width: 100%;
  transform: scaleX(1);
}
