// header link button
.header-menu-button {
  margin-left: 1px;
}

img {
  height: 20px;
  width: 20px;
  margin-top: 1px;
}

.header-menu-button__link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: $text-dark;
  padding-top: 15px;
}

// button-primary
.button-primary {
  width: 200px;
  padding: 20px 78px;
  font-weight: 600;
  border: none;
  border-radius: 100px;
  background-color: $background-body;
  color: $text-dark;
  cursor: pointer;
}
