.difficult{
  //border: 1px solid #ccc;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabs {
  width: 100%;
  display: flex;
  gap: .5rem;
  //padding: .7rem;
  overflow: hidden;
  //border: 1px solid #ccc;
  //background-color: #f1f1f1;
}

.tab-links {
  //flex: 1 1 5rem;
  //display: flex;
  //justify-content: center;
  //padding: .7rem 1rem;
  //font-size: 1.6rem;
  //border-radius: 1rem;
  //border: 1px solid #ccc;
  //max-width: 10rem;
  //cursor: pointer;
  //transition: 0.3s;
}

.tab-links:hover {
  //background-color: #ddd;
}

.tab-links.active {
  //background-color: #ccc;
}

.tab-content.active{
  display: flex;
}
.tab-content {
  display: none;
  //border: 1px solid #ccc;
  width: 100%;
  gap: .5rem;
  border-top: none;
  padding: .7rem 0;
}
