.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //justify-content: space-between;
  //align-items: center;
  //max-width: 50rem;
  width: 100%;
  gap: 1rem;
  padding: 2rem 0;
  //flex-wrap: wrap;
}
.options__buttons.btn{
  flex: 1 0 16rem;
  padding: .7rem .5rem;
}
.options__buttons {
  max-height: 3.2rem;
  max-width: 16rem;
  width: 100%;
  white-space: nowrap;
  //flex: 1 1 5rem;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //padding: .7rem 1rem;
  //border-radius: .7rem;
  //background-color: burlywood;
  //max-width: 10rem;
  //cursor: pointer;
  //transition: .3s;
}

.options__buttons:hover {
  //background-color: #ac8f65;
}

@media (width <= 768px) {
  .options {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}
