.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: var(--background);
  gap: 2dvh;
  color: var(--text-color);
  padding: .5rem;
}

.field {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  max-width: 600px;
}

.cell {
  text-align: center;
  vertical-align: center;
  color: var(--x-color);
}

.cell-on {
  background-color: var(--border-color-dark);
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid var(--border-color-dark);

  .hint-c img{
    display: flex;
  }
  img {
    width: 100%;
    //max-width: var(--cell);
  }

  td,
  th {
    width: var(--cell);
    height: var(--cell);
    aspect-ratio: 1;
    @include border(right)
  }

  tr {
    @include border(bottom)
  }

  .hint {
    background-color: var(--hint-bg);
  }

  .hint_row {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    padding: 0 .3rem;
  }

  .hint_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
}
