.app {
  display: flex;
  gap: 100px;
  width: $content-width;
  margin: 0 auto 100px auto;
  padding: 0 40px;
  color: $text-dark;

  &__photo {
    width: 630px;
    height: 630px;
    background: url("../assets/mobile-screens.png");
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 630px;
  }

  &__description {
    margin: 0;
  }
}

.app__title {
  & i {
    color: $text-accent;
  }
}

.app__buttons {
  display: flex;
  gap: 20px;
}
