.gallery {
  display: flex;
  justify-content: center;
  width: $content-width;
  margin: 0 auto 100px auto;
  padding: 0 40px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.gallery__title {
  letter-spacing: -0.002em;
  color: $text-dark;

  i {
    color: $text-accent;
  }
}

.gallery__images {
  height: 1060px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 120px 1fr;
  grid-auto-flow: column dense;
  grid-gap: 40px;
}

.photo {
  border-radius: 20px;
}

.photo:nth-child(1) {
  grid-row: span 2;
  background: url("../assets/photo/about-1.png") center/110% no-repeat;
  transition: background-size .5s ease;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-size: 100%;
      cursor: pointer;
    }
  }
}

.photo:nth-child(2) {
  grid-row: span 1;
  background: url("../assets/photo/about-2.png") center/110% no-repeat;
  transition: background-size .5s ease;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-size: 100%;
      cursor: pointer;
    }
  }
}

.photo:nth-child(3) {
  grid-row: span 1;
  background: url("../assets/photo/about-3.png") center/110% no-repeat;
  transition: background-size .5s ease;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-size: 100%;
      cursor: pointer;
    }
  }
}

.photo:nth-child(4) {
  grid-row: span 2;
  background: url("../assets/photo/about-4.png") center/110% no-repeat;
  transition: background-size .5s ease;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-size: 100%;
      cursor: pointer;
    }
  }
}

@media (max-width: 1439px) {
  .gallery {
    width: auto;

    &__images {
      height: clamp(500px, 73.6vw, 1060px);
    }
  }
}

@media (max-width: 800px) {
  .gallery__images {
    height: 1220px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;

    .photo:nth-child(2),
    .photo:nth-child(3) {
      display: none;
    }

    .photo:nth-child(1),
    .photo:nth-child(4) {
      grid-row: span 1;
      background-size: auto;
    }
  }
}

@media (max-width: 760px) {
  .gallery__title {
    font-size: clamp(32px, 7cqi, 60px);
  }
}

@media (max-width: 400px) {
  .gallery {
    padding: 0 16px;
  }
  .gallery__title {
    font-size: 32px;
  }
}
