.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $content-width;
  margin: 0 auto 100px auto;
  padding: 0 40px;
}

.slide-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.slider__content {
  display: flex;
  justify-content: center;
  width: 1152px;
  margin: 0 40px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;

  &__image {
    height: 480px;
    width: 100%;
    margin-bottom: 20px;
    background: url("../assets/slider/coffee-slider-1.png") no-repeat;
    background-size: contain;
  }

  &__dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    p {
      text-align: center;
    }
  }
}

// left-right slide switcher
.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  border-radius: 100px;
  border: 1px solid $border-dark;
  transition: background-color 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  cursor: pointer;

  &:hover {
    background-color: $background-container;

    .left-switcher {
      background-image: url("../assets/icons/arrow-left-hover.svg");
    }

    .right-switcher {
      background-image: url("../assets/icons/arrow-right-hover.svg");
    }
  }
}

.left-switcher,
.right-switcher {
  width: 24px;
  height: 24px;
  transition: background 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.left-switcher {
  background: url("../assets/icons/arrow-left.svg") no-repeat;
}

.right-switcher {
  background: url("../assets/icons/arrow-right.svg") no-repeat;
}

//slider control
.slider-control {
  display: flex;
  gap: 12px;

  &__item {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: $border-light;
  }

  .active {
    background-color: $border-dark;
  }
}
