.wrapper {
  width: $content-width;
  margin: 0 auto;
}

.header__wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  height: 60px;
}
