:root {
  --button-bg-color: #9d596b;
  --button-hover-bg-color: #7e3843;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background: url("./assets/images/start-screen.png") no-repeat center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 5px;
  overflow: hidden;
}
