.btn {
  flex: 1 1 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .7rem 1rem;
  border-radius: .7rem;
  background-color: var(--button-color);
  max-width: 10rem;
  cursor: pointer;
  transition: .3s;
}
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background-color: var(--button-hover-color);
  }
}

.btn.active {
  background-color: var(--button-hover-color);
}
