.winner-header {
  display: flex;
  align-items: center;
  font-family: "Stylish", serif;
  margin-top: 2rem;
  width: 95vw;
  max-width: 80rem;

  button {
    font-family: "Stylish", serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: .3rem 0;
    border: none;
    border-radius: 4px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: white;
      color: black;
      transform: scale(1.05);
    }
  }
}
